
h1 {
   color: black;
  
   font-family: Verdana, Geneva, Tahoma, sans-serif;
   text-align: center;

}

.café{
   width: 20%;
   border: 80px;
   margin-left: 40px;
}

footer{
   text-align: center;
}
